
.md-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px; /* Adjust as needed */
}

.md-tabs {
    background-color: #000000;
    /* Additional styling for tabs if needed */
}

:root {
    --md-primary-fg-color:        #f7379d;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #f7379d;
}

/* Custom styles for specific buttons */
.md-button[href*="https://canvas.qut.edu.au/courses/16669"] {
    background-color: #42c9ff; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}

.md-button[href*="https://canvas.qut.edu.au/courses/16669"]:hover {
    background-color: #2a1bb4; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}

.md-button[href*="https://canvas.qut.edu.au/courses/16670"] {
    background-color: #ff70a6; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}

.md-button[href*="https://canvas.qut.edu.au/courses/16670"]:hover {
    background-color: #fd0c58; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}

.md-button[href*="https://canvas.qut.edu.au/courses/16912"] {
    background-color: #ff7745; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}

.md-button[href*="https://canvas.qut.edu.au/courses/16912"]:hover {
    background-color: #ff4400; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
}
